<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428651767494-aqccs4t5plc43rhke5sjg49no7b1m5qc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428651767494-aqccs4t5plc43rhke5sjg49no7b1m5qc</string>
	<key>API_KEY</key>
	<string>AIzaSyBSF2Uw8ZppUZ4JIHQVVg2ceyJKSGj8tgA</string>
	<key>GCM_SENDER_ID</key>
	<string>428651767494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myClinicScreenshots</string>
	<key>PROJECT_ID</key>
	<string>books-genie</string>
	<key>STORAGE_BUCKET</key>
	<string>books-genie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428651767494:ios:ff74bf67179f37f604d9c7</string>
</dict>
</plist>